:root{
  --main-bg-color: #5f9ea0;
}

.desktop {
  display: flex;
  flex-direction: row;
}

/* Banner Code */
#banner {
  background-color: var(--main-bg-color);
  flex-basis: 20%;
  text-align: center;
  color: #ffffff;
  height: 100vh;
  width: 20vw;
  position: fixed;
}

#storyBoard {
  display: flex;
  flex-direction: column;
}

.storyBoardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 7vh;
}
.storyBoardSpacer {
  margin: 2vw;
}
.storyBoardItem {
  background-color: #ffffff;
  text-align: left;
  height: 100%;
  padding: 1em;
  flex-basis: 48%;
}

.leftDropShadow {
  -webkit-box-shadow: -35px -31px 0px -23px var(--main-bg-color);
  -moz-box-shadow: -35px -31px 0px -23px var(--main-bg-color);
  box-shadow: -35px -31px 0px -23px var(--main-bg-color);
}

.rightDropShadow {
  -webkit-box-shadow: 35px -31px 0px -23px #53888a;
  -moz-box-shadow: 35px -31px 0px -23px #53888a;
  box-shadow: 35px -31px 0px -23px #53888a;
}

.secondaryLeftDropShadow{
  -webkit-box-shadow: -35px -31px 0px -23px #4d7e80;
  -moz-box-shadow: -35px -31px 0px -23px #4d7e80;
  box-shadow: -35px -31px 0px -23px #4d7e80;
}

.secondaryRightDropShadow {
  -webkit-box-shadow: 35px -31px 0px -23px #3f6769;
  -moz-box-shadow: 35px -31px 0px -23px #3f6769;
  box-shadow: 35px -31px 0px -23px #3f6769;
}

#logo {
  padding: 1em;
  width: 20vw;
  height: 30vh;
}

.spacer {
  width: 2vw;
}

.navigation {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.site-navigation {
  text-decoration: none;
  text-emphasis: none;
  color: #ffffff;
  margin-top: 2em;
}

.site-navigation:hover {
  text-emphasis-style: strong;
  text-decoration: none;
  color: #ebebeb;
}

/* Main Content Code */

#mainContent {
  /* Have padding set to zero on mobile */
  padding: 1em;
  margin-left: 20vw;
  display: flex;
  /* Have as column when mobile */
  flex-direction: column;
  background-color: #ebebeb;
}

.row-one {
  /* display: inherit;
    flex-direction: row; */
  margin-top: 1em;
}

.article {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1em;
}

.contact {
  margin: auto;
}

#portfolio {
  padding-top: 1em;
}

.portfolioPicture {
  padding: 1em;
  width: 45vw;
  height: 45vh;
}

#pricingDesktop {
  display: flex;
  flex-direction: row;
}

#pricingMobile {
  display: none;
}

.column {
  flex-basis: 50%;
}

#desktopOnly {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#mobileOnly {
  display: none;
}

.desktopImage {
  border: 1px solid black;
  width: 30vw;
  height: 40vh;
}

@media screen and (max-width: 767px) {
  .desktop {
    display: flex;
    flex-direction: column;
  }
  #banner {
    background-color: #5f9ea0;
    flex-basis: 20%;
    text-align: center;
    color: #ffffff;
    height: 100%;
    width: 100vw;
    position: relative;
  }

  #logo {
    padding: 1em;
    width: 50vw;
    height: 35vh;
  }

  #mainContent {
    /* Have padding set to zero on mobile */
    padding: 1em;
    margin-left: 0vw;
    display: flex;
    /* Have as column when mobile */
    flex-direction: column;
    background-color: #ebebeb;
  }

  #pricingDesktop {
    display: none;
  }

  #pricingMobile {
    display: flex;
    flex-direction: column;
  }

  .article {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .navigation {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .site-navigation {
    text-decoration: none;
    text-emphasis: none;
    color: #ffffff;
    margin-top: 2em;
  }

  .site-navigation:hover {
    text-emphasis-style: strong;
    text-decoration: none;
    color: #ebebeb;
  }

  #hideMe {
    display: none;
  }

  #desktopOnly {
    display: none;
  }

  #mobileOnly {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .mobileImage {
    border: 1px solid black;
    width: 40vw;
    height: 40vh;
  }

  .storyBoardRow {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .storyBoardSpacer {
    margin-left: 2vw;
    
  }
  .storyBoardItem {
    background-color: #ffffff;
    text-align: left;
    height: 100%;
    padding: 1em;
  }
  
  
}

@media screen and (min-width: 768px) {
  #logo {
    padding: 1em;
    width: 20vw;
    height: 20vh;
  }
}

@media screen and (min-width: 1024px) {
  #logo {
    padding: 1em;
    width: 20vw;
    height: 30vh;
  }
}
